spring:
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: create-drop

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder : trace
    org.hibernate.type.EnumType: trace
management:
  info:
    git:
      mode: full
